<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>netperf-wrapper.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>11</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>219039561E6457C126A25BAC8AAA0545E7ED8EBC</string>
				<key>dateExpires</key>
				<string>07/12/2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>WV77Z2GV8T.com.amazonaws.netperf-wrapper</string>
				<key>com.apple.developer.networking.slicing.appcategory</key>
				<array/>
				<key>com.apple.developer.networking.slicing.trafficcategory</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>WV77Z2GV8T</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>netperf-wrapper.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>22a3723e-ecc0-4931-a0dc-d4a50ccbf791</string>
				<key>dateExpires</key>
				<string>20/12/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.amazonaws.netperf-wrapper</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>WV77Z2GV8T</string>
				<key>name</key>
				<string>John Naylon</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2</string>
		</dict>
	</array>
</dict>
</plist>
